@font-face {
  font-family: samurai;
  src: url(/src/fonts/BruceForeverRegular-X3jd2.ttf);
}
@font-face {
  font-family: newsamurai;
  src: url(/src/fonts/Hangyaku-vmxlD.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: samurai;
  font-size: 1.3vw;
}

/* Navbar */
.navbar {
  /* border: 2px solid red; */
}
.links {
  text-decoration: none;
  color: #141E30;
}
body {
  background-image: linear-gradient(to left, #F2C94C, #F2C94C);
  font-family: sans-serif;
}
.navbar.dark {
  background: linear-gradient(to left, #0f2027, #203a43, 
  #2c5364);
}